
.movie_page{
    
    margin-top:100px;
    margin-left: 20px;
    overflow: hidden;
  
    
   
.movie_poster_img{
     max-height: 260px;
    width: 280px;
margin: 5px 0;

    @media only screen and (max-width:660px){
        max-height: 230px;
        width: 180px;
    } 
    @media only screen and (max-width:460px){
        height: 180px;
        width: 250px;
        padding-left: 20px;
        margin-bottom: 10px;
    } 

}
p{
    color:#fff;
    font-size: 20px;
    @media only screen and (max-width:660px){
  font-size: 14px;
    } 
}
.movie_info{
    display: flex;
    border-bottom: 1px solid blue;
    @media only screen and (max-width:460px){
        display: flex;
        justify-content: center;
        flex-direction: column;
     } 
}
.movie_description{
    padding-left: 20px;
}
.movie_description p{
    width: 800px;
}
.movie_description span{
    font-weight: bolder;
}
.btns{
    display:flex;
    flex-direction: column;
    width: 200px;
    margin-top: 5px;
}
.btn{
    margin-bottom: 20px;
    margin-right: 5px;
   padding: 2px 10px;
   color: white;
   background-color: rgb(92, 82, 204);

&:hover{
    outline: none;
    background-color: orange;
}
}
.trailer{
    margin:20px 0;

    h1{
        margin:10px 0;
        color:#fff;
    }
    video{
        width: 70%;
        height: 50%;
    }
}
}

  